{% include 'login_register_template.html' %}
      <div id="login">
        <h1>Login</h1>
        <form action="" method="POST">
          {% csrf_token %}
          <input type="email" name="email" id="email-input" placeholder="Enter Email" required />
          <input type="password" name="pw_1" id="password-input" placeholder="Enter Password" required />
            <input type="password" name="pw_2" id="password-input" placeholder="Repeat Password" required />
          <button type="submit">Register</button>
        </form>
        <p>Already have an Account? <a href="./login">Login now!</a></p>
      </div>